/debhelper-build-stamp
/.debhelper/
/files
/pda-kernel-dkms.debhelper.log
/pda-kernel-dkms.dkms.debhelper
/pda-kernel-dkms.postinst.debhelper
/pda-kernel-dkms.prerm.debhelper
/pda-kernel-dkms.substvars
/pda-kernel-dkms/
/tmp/
